---
import Layout from '../../layouts/Layout.astro';
import ContactCTA from '../../components/ContactCTA.astro';

const title = 'Contact | PsicoCorts';
const description = 'Contact PsicoCorts to schedule an appointment or get more information about our psychology services in Les Corts, Barcelona.';
---

<Layout title={title} description={description}>
  <div class="py-12">
    <ContactCTA />
  </div>
</Layout>